<h1>Mon dernier projet</h1>
<div class="grid grid-cols-3 gap-4">
  <div class="tech">
    <img src="../../assets/projets/Portainer.png" alt="" class="illustration" />
    <p>Portainer</p>
  </div>
  <div class="tech">
    <img src="../../assets/projets/Jenkins.png" alt="" class="illustration" />
    <p>Jenkins</p>
  </div>
  <div class="tech">
    <img src="../../assets/projets/Selenium.png" alt="" class="illustration" />
    <p>Selenium</p>
  </div>
</div>

<p>
  Dans le cadre du projet de refonte de l'emploi du temps de mon université,
  j'ai eu l'opportunité d'explorer de nouveaux outils tels que Portainer,
  Jenkins et Selenium. <br /><br />
  Cela a été un tremplin pour l'acquisition de nouvelles compétences, notamment
  dans la gestion des tests au sein d'un projet. En travaillant avec ces outils,
  j'ai non seulement amélioré mes capacités techniques, mais j'ai également
  renforcé ma communication avec des équipes de développement des
  fonctionnalités.<br /><br />
  Cette expérience m'a permis d'adopter une approche méthodique et organisée du
  travail, en mettant l'accent sur la coordination et la collaboration au sein
  d'une équipe.
</p>
