

<section class="design-section">
<div class="timeline">

                  <div class="timeline-empty"></div>
               <div class="timeline-middle">
                   <div class="timeline-circle"></div>
               </div>


              <div class=" timeline-component timeline-content">
                <h3>Intégration professionnelle</h3>
                <p>Engagé dans un stage en tant que développeur Web Full Stack</p>
              </div>
              <div class=" timeline-component timeline-content">
                <h3> 3em But Informatique</h3>
                <p>BUT Informatique pour l'année 2023-2024</p>
              </div>

                <div class="timeline-middle">
                    <div class="timeline-circle"></div>
                </div>
                <div class="timeline-empty"></div>

                <div class="timeline-empty"></div>

               <div class="timeline-middle">
                   <div class="timeline-circle"></div>
               </div>
               <div class=" timeline-component timeline-content">
                <h3>Continuité : BUT Informatique</h3>
                <p>BUT Informatique pour l'année 2022-2023</p>
              </div>
            <div class="timeline-empty"></div>

           <div class="timeline-middle">
               <div class="timeline-circle"></div>
           </div>
           <div class=" timeline-component timeline-content">
            <h3>Certification RGPD</h3>
            <p>Obtention de la certification RGPD, démontrant ma maîtrise des principes et des réglementations liés à la protection des données personnelles.</p>
          </div>

              <div class="timeline-empty"></div>

              <div class="timeline-empty"></div>

               <div class="timeline-middle">
                   <div class="timeline-circle"></div>
               </div>
               <div class="timeline-component timeline-content">
                <h3> Début : BUT Informatique</h3>
                <p>En première année du BUT Informatique pour l'année 2021-2022</p>
              </div>
              <div class="timeline-middle">
                <div class="timeline-circle"></div>
            </div>
            <div class="timeline-empty"></div>

            <div class="timeline-empty"></div>

           <div class="timeline-middle">
               <div class="timeline-circle"></div>
           </div>

           <div class="timeline-component timeline-content">
            <h3>Baccalauréat</h3>
            <p> Diplômé du Baccalauréat STI2D Mention Bien en 2020</p>
          </div>


       </div>
</section>
