.flex-container1 {
  display: flex;
  flex-wrap: wrap;
}

#card {
  overflow-wrap: break-word;
}
#contact {
  width: 30%;
  max-height: 50vh;
  object-fit: cover;
  margin-right: 5%;
border-radius: 15px;
padding-bottom: 10%;
background-color: rgb(105, 120, 170);
}
#contact h2 {
  font-family: Arial, sans-serif;
  font-size: 3rem;
  text-align: center;

}
.lien {
  margin-top: 5%;
  margin-left: 5%;
  max-width: 100%;
}
.contact-link img {
  width: 2svw;
  margin-inline: 2%;
}
.lien .contact-link,
  .lien p {
    display: inline-block;
    vertical-align: middle;
    margin-inline: 2%;
  }
.typewriter {
  flex: 1 1 50%;
  margin-left: 2%;
  padding-top: 5%;
}

.text {
  display: inline-block;
  overflow: hidden;
  position: relative;
  font-family: Arial, sans-serif;
  font-size: 3rem;
}

.cursor {
  display: inline-block;
  width: 3px;
  height: 3rem;
  position: relative;
  top: -2.5rem;
  background-color: black;
  animation: blink-caret 0.75s step-end infinite;
  opacity: 1;
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 2rem;
  margin: 2%;
  margin-top: 5%;
}

#paragraphe>p {
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  margin: 2%;
  width: 50%;
  text-align: justify;
}

@keyframes blink-caret {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}
