<div id="card" class="flex-container1">
  <div class="typewriter">
    <span class="text"> Hey, c'est <span>Lionel Babouram</span> </span><br />
    <span class="text"> je suis {{ currentText }}</span>
    <span class="cursor">|</span>
  </div>
  <div id="contact">
    <h2>Contact</h2>

    <div id="listelien">
      <div class="lien">
        <a href="" class="contact-link">
          <img src="../../assets/accueil/phone.svg" alt="Twitter" />
        </a>
        <p>06 23 87 51 65</p>
      </div>
      <div class="lien">
        <a href="mailto:your-email@example.com" class="contact-link">
          <img src="../../assets/accueil/gmail.svg" alt="Email" />
        </a>
        <p>romain.joeldamiengmail.com</p>
      </div>
      <div class="lien">
        <a
          href="https://github.com/Lionel107"
          target="_blank"
          class="contact-link"
        >
          <img src="../../assets/accueil/github.svg" alt="GitHub" />
        </a>
        <p>https://github.com/Lionel107</p>
      </div>
      <div class="lien">
        <a
          href="https://www.linkedin.com/in/yourusername/"
          target="_blank"
          class="contact-link"
        >
          <img src="../../assets/accueil/linkedin.svg" alt="LinkedIn" />
        </a>
        <p>https://www.linkedin.com/in/yourusername/</p>
      </div>
    </div>
  </div>
</div>
<div id="paragraphe">
  <h2>Bienvenue sur mon portfolio !</h2>
  <p>
    Actuellement en troisième année de BUT Informatique, je suis passionné par
    le développement et la création de manière générale. Parcourez mon profil et
    explorez mes projets novateurs. N'hésitez pas à me contacter!
  </p>
</div>
