
<div id="card" class="flex-container1">
  <div class="typewriter">
    <span class="text"> Hey, c'est <span>Lionel Babouram</span> </span><br>
    <span class="text"> je suis {{ currentText }}</span>
    <span class="cursor">|</span>
  </div>
  <div id="photo">
    <img src="../../assets/accueil/undraw_developer_activity_re_39tg.svg" alt="">
  </div>
</div>
<div id="paragraphe">
  <h2>Bienvenue sur mon portfolio !</h2>
  <p>Actuellement en troisième année de BUT Informatique, je suis passionné par le développement et la création de manière générale. Parcourez mon profil et explorez mes projets novateurs. N'hésitez pas à me contacter!
</div>
<div id="contact-wrapper">
<div id="contact">
  <a href="https://github.com/yourusername" target="_blank" class="contact-link">
    <img src="../../assets/accueil/github.svg" alt="GitHub">
  </a>
  <a href="https://www.linkedin.com/in/yourusername/" target="_blank" class="contact-link">
    <img src="../../assets/accueil/linkedin.svg" alt="LinkedIn">
  </a>
  <a href="mailto:your-email@example.com" class="contact-link">
    <img src="../../assets/accueil/gmail.svg" alt="Email">
  </a>
</div>
</div>

